@CHARSET "UTF-8";

@font-face {
    font-family: 'MyriadProBold';
    src: url('/font/myriad_pro_bold-webfont.eot');
    src: url('/font/myriad_pro_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/myriad_pro_bold-webfont.woff') format('woff'),
         url('/font/myriad_pro_bold-webfont.ttf') format('truetype'),
         url('/font/myriad_pro_bold-webfont.svg#MyriadProBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MyriadProRegular';
    src: url('/font/myriad_pro_regular-webfont.eot');
    src: url('/font/myriad_pro_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/myriad_pro_regular-webfont.woff') format('woff'),
         url('/font/myriad_pro_regular-webfont.ttf') format('truetype'),
         url('/font/myriad_pro_regular-webfont.svg#MyriadProRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body {
	margin:0px;
}

p, h1, h2, h3, h4{
	margin:0px;
}

a {
	text-decoration: none;
	border:none;
	font:12.5px 'MyriadProRegular' ;
	color:#990000;
}


img {
	border:none;
}

#cont_master{
	width:1146px;
	margin: auto;
	height:auto;
	float:left;
	padding-bottom: 85px;
	position:relative;
}

#header {
	float:left;
	width:1146px;
	height:108px;
}

#logo {
	float:left;
	width:202px;
	height:78px;
	margin:10px 0px 0px 25px;
	background: url(../images/logos/eci.jpg) no-repeat;
}

#cont_buscador {
	width:283px;
	height:47px;
	float:left;
	margin:5px 0px 25px 602px;
}


#menu {
	float:left;
	width:auto;
	height:20px;
	padding:0px;
	position:relative;
	z-index:50;
	margin:0px 0px 0px 30px;
}

#menu li {
	float:left;
	width:auto;
	height: 20px;
	list-style: none;
	position:relative;
	border-left:1px solid #990000;
	color: #990000;
}

#menu li:first-child {
	border-left: none;
}

#menu li a {
	float:left;
	width:auto;
	height:15px;
	padding: 5px 9px 0px 9px;
	font: 10px  'MyriadProBold';
	color: #990000;
	position:relative;
	z-index:10;
	cursor: pointer;
}

#menu li:hover > ul {
	display:block;
}

#menu li ul {
	position: absolute;
	top: 20px;
	left:-1px;
	width:auto;
	height:auto;
	padding:0px;
	margin: 0px;
	background:#fff;
	display: none;
	border-left: 1px solid #990000;
	border-right: 1px solid #990000;
	border-bottom: 1px solid #990000;
}

#menu li ul li {
	margin:0px 0px 0px 0px;
	height: auto;
	width:133px;
	border:none;
}

#menu li ul li a  {
	color: #888;
	height: auto;
	width:100px;
	padding: 5px 20px 5px 13px;
	border:none;
}

#menu li ul li a:hover {
	color: #555;
}


#ingles {
	width:auto;
	float:right;
	height:14px;
	padding:5px 5px 0px 0px;
	border-right:1px solid #990000;
	color:#990000;
	font: 9px  'MyriadProBold';
}

#espanol {
	width:auto;
	float:right;
	height:14px;
	padding:5px 0px 0px 3px;
	color:#990000;
	font: 9px  'MyriadProBold';
}

#cont_buscador form {
	float:left;
	width:279px;
	height:20px;
	margin:10px 0px 0px;
	padding:0px;
}

#cont_buscador form fieldset {
	border: none;
	margin:0px;
	padding:0px;
	float: left;
}

#cont_buscador form input[type="radio"] {
	float:left;
	width:20px;
	height:20px;
	margin:0px 0px 0px 2px;
}

#cont_buscador form label {
	float:left;
	width:auto;
	height:15px;
	font: 9px 'MyriadProRegular';
	margin-top:5px;
	color:#990000;
}

#buscador {
	width:152px;
	margin-left:10px;
	height:13px;
	position:relative;
	float:left;
	background: #fff;
	padding: 3px 0px 3px 5px;
	-webkit-box-shadow: 0px 0px 8px 1px #CCCCCC;
	-moz-box-shadow: 0px 0px 8px 1px #CCCCCC;
	box-shadow: 0px 0px 8px 1px #CCCCCC;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	behavior: url(/images/PIE.htc);
}

#buscador input[type="submit"],.gsc-search-button input[type="image"],.gsc-search-button-v2 input[type="image"]{
	background: url("../images/basics/lupa.jpg") no-repeat scroll 0 0 transparent;
    border: medium none;
    height: 11px;
    left: 1313px;
    margin-top: 1px;
    position: absolute;
    top: 18px !important  ;
	left: 95.7%  !important;
}
.cse input.gsc-search-button:hover, input.gsc-search-button:hover {
    margin-top:1px  !important;
	width:11px  !important;
	height:11px  !important;
	border:none  !important;
	background:url(../images/basics/lupa.jpg) no-repeat !important;
	position: absolute  !important;
	top: 18px  !important;
	left: 95.7%  !important;
}
.gsst_b{
	display: none;
}

.gsc-input input[type="text"]{
	float: left !important;
	width: 122px !important;
	height: 12px !important;
	padding: 1px 5px 0px !important;
	margin: 0px 2px 0px 4px !important;
	border: none !important;
	background: #CCC !important;
	font: 10px 'MyriadProRegular' !important;
	color: #666 !important;
	position: absolute;
	top: 18px;
	left: 85.7%;
}
.gsc-search-button-v2{
	/*display: none;*/
}
.gsc-input-box{
	border: none !important;
	height: 1px !important;
	width: 1px
}

#buscador input[type="text"] {
	float:left;
	width:80px;
	height:12px;
	padding: 1px 5px 0px;
	margin:0px 2px 0px 4px;
	border:none;
	background: #ccc;
	font: 10px 'MyriadProRegular';
	color: #666;
}

#cont_buscador form label#search {
	float:left;
	width:auto;
	height:13px;
	font: 8px  'MyriadProBold';
	margin-top:2px;
	color:#000;
}

#cont_rotador_home, .rotador_home, .rotador_home img   {
	width:1146px;
	height:274px;
	float:left;
	position:relative;
	overflow: hidden;
}

.rotador_home div {
	position:absolute;
	bottom:29px;
	left:218px;
	width:380px;
	height:36px;
	background: url(../images/basics/bg1.png) repeat;
}

.rotador_home a {
	background:#990000;
	padding:3px 6px 3px 6px;
	width:46px;
	height:11px;
	font: 9px  'MyriadProBold';
	font-style: italic;
	color:#fff;
	margin:11px 0px 0px 36px;
	float:left;
}

.rotador_home p {
	float:left;
	width:247px;
	height:20px;
	overflow: hidden;
	font: 18px  'MyriadProBold';
	color: #000;
	margin: 7px 0px 0px 38px;
}


#nav {
	width:200px;
	height:9px;
	position:absolute;
	right:548px;
	top: 360px;
	z-index:100;
	margin: 0px;
	padding: 0px;
}

#nav li {
	width:9px;
	height:9px;
	float:right;
	margin-left:5px;
	list-style: none;
}

#nav li a {
	width:9px;
	height:9px;
	float:left;
	background:#888;
	-webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    behavior: url(/images/PIE.htc);
}
#nav li.activeSlide a { 
	background: #fff ;
}
#nav a:focus {
	outline: none; 
}


#menu2 {
	float:left;
	width: 100%;
	height:24px;
	background: url(../images/basics/bg2.png);
	border-top:1px solid #fff;
}

#menu2 ul {
	margin:auto;
	position:relative;
	width:535px;
	height:24px;
	padding:0px;
}

#menu2 ul li {
	float:left;
	width:auto;
	height: 20px;
	list-style: none;
	border-left:1px solid #fff;
	margin-top:2px;
}

#menu2 ul li:first-child {
	border-left: none;
}

#menu2 ul li a {
	float:left;
	width:auto;
	height:15px;
	padding: 5px 13px 0px 13px;
	font: 10px  'MyriadProBold';
	color: #EAEBEB;
}


#cont_home {
	float:left;
	width:1024px;
	margin: 12px 61px 0px 61px;
	height:auto;
}

.cont_noticias1 {
	float:left;
	width:474px;
	height:auto;
}

.titulo1 {
	float:left;
	width:100%;
	height:15px;
	border-bottom:1px solid #990000;
	color:#990000;
	margin-bottom:9px;
	font: 11px  'MyriadProRegular';
	position: relative;
	
}

.noticia1 {
	float:left;
	width:418px;
	height:auto;
	margin:4px 0px 0px 8px;
}

.noticia1 img {
	float:left;
	height:60px;
	width:125px;
	margin:0px 12px 0px 0px;
	border:3px solid #fff;
	position:relative;
	-webkit-box-shadow: 0px 0px 8px 1px #CCCCCC;
	-moz-box-shadow: 0px 0px 8px 1px #CCCCCC;
	box-shadow: 0px 0px 8px 1px #CCCCCC;
	behavior: url(/images/PIE.htc);
}

.date1 {
	color: #990000;
	font: 9px 'MyriadProRegular';
	width:48px;
	height:11px;
	float:right;
	text-align: right;
}

.noticias1_wrap{
	float:left;
	width:474px;
	height:178px;
}

.noticia1 a {
	float: left;
	margin: 0px 0px 6px 0px;
	height: 12px;
	width: 260px;
	color: #900;
	font: 12.5px 'MyriadProRegular';
	overflow: hidden;
}

.noticia1 p {
	text-align: justify;
	float:left;
	height:auto;
	width:270px;
	margin:0px 0px 0px 0px;
	font: 12.5px 'MyriadProRegular';
	color:#777;
	overflow: hidden;
}

.noticia1 .linea {
	float:left;
	width:436px;
	height:1pt;
	background: #ccc;
	margin-top: 12px;
}

.noticia1 h2 {
	float:right;
	width: 340px;
	height:10px;
	color: #777777;
	font: 9px 'MyriadProRegular';
	text-align:right;
	margin:5px -17px 0px;
	overflow:hidden;
}

.mas_noti {
	float:left;
	height:9px;
	width:94%;
	font: 9px  'MyriadProBold';
	font-weight:lighter;
	color:#666666;
	padding: 2px 0px 3px 0px ;
	border-top: 1px solid #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
	margin:5px 6% 0px 0px;
	text-align: right;
}

.mas_noti img {
	float:right;
	width:4px;
	height:11px;
	position:relative;
	margin: -2px 3px 0px 4px;
}

.rss {
	position:absolute;
	top:3px;
	right:5px;
	width:9px;
	height:9px;
	background: url(../images/logos/rss.png);
}

.linea_v1 {
	width: 1px;
	height: 224px;
	float:left;
	background:#E6E6E6;
	margin: 0px 28px;
}



.cont_eventos1 {
	float:left;
	width:256px;
	height:auto;
}

.eventos1_wrap{
	float:left;
	width:256px;
	height:178px;
}

.evento1 {
	float:left;
	width:244px;
	height:auto;
	min-height: 85px;
	margin:4px 0px 0px 8px;
}

.eventoimpar {
	float:right;
	width:230px;
	height:auto;
	margin:4px 0px 0px 8px;
}

.fecha_evento {
	float:left;
	width:44px;
	height:50px;
	background: url(../images/basics/bg3.jpg) no-repeat top left;
	padding-right:14px;
	border-right: 1px solid #E6E6E6;
	
}

.fecha_evento h1 {
	float:left;
	color: #990000;
	font: 8px 'MyriadProRegular';
	text-transform: uppercase;
	width: 100%;
	height:9px;
	margin: 0px 0px 0px 0px;
	text-align: center;
}

.fecha_evento h2 {
	float:left;
	color: #fff;
	font: 14px 'MyriadProRegular';
	text-transform: uppercase;
	width: 100%;
	height:15px;
	margin: 12px 0px 0px 0px;
	text-align: center;
}


.evento1 a {
	float:left;
	width: 160px;
	height:auto;
	color: #777;
	font: 12px 'MyriadProRegular';
	text-align:left;
	margin:5px 0px 4px 15px;
	overflow:hidden;
}

.date2 {
	float:right;
	width: 35px;
	height:12px;
	color: #990000;
	font: 10px 'MyriadProRegular';
	text-align:left;
	margin:4px 0px 0px 23px;
	overflow:hidden;
}


#barra_derecha {
	float:left;
	width:180px;
	height:auto;
}

#contenedor_redes {
	position:absolute;
	bottom:0px;
	right:43px;	
	width:160px;
	height: 22px;
}

.redes {
	float:left;
	width:100%;
	height:22px;
}

.redes a {
	float:right;
	width:22px;
	height:22px;
	margin: 0px 2px;
	
}

#square {
	background: url(../images/logos/square.png);
}

#linkedin {
	background: url(../images/logos/in.png);
}

#google {
	background: url(../images/logos/google.png);
}

#youtube {
	background: url(../images/logos/yt.png);
}

#twitter {
	background: url(../images/logos/tw.png);
}

#facebook {
	background: url(../images/logos/fb.png);
}

.usuario {
	width:180px;
	height:115px;
	float:left;
	margin-top:15px;
}

.usuario label {
	width: 100%;
	height:12px;
	font: 12px 'MyriadProRegular';
	color: #333333;
}

.usuario a {
	float:left;
	width:100%;
	height:11px;
	font: 12px 'MyriadProRegular';
	color: #666666;
	margin: 6px 0px;
	text-align: right;
}

.usuario input[type="submit"] {
	float:right;
	width:auto;
	height:20px;
	background: #990000;
	padding: 2px 8px 5px;
	border: none;
	color: #fff;
	margin-top:4px;
	font: 12px 'MyriadProRegular';
	position: relative;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	behavior: url(/images/PIE.htc);
}

.usuario input[type="text"], .usuario input[type="password"] {
	color: #888;
	float:left;
	margin-top:5px;
	width:158px;
	height:12px;
	padding: 2px 10px 4px;
	background: #E6E6E6;
	border: 1px solid #000;
	position: relative;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	behavior: url(/images/PIE.htc);
	font: 12px 'MyriadProRegular';
}


#menu_der {
	padding:0px;
	margin:0px;
	width:180px;
	height: auto;
	float:left;
}

#menu_der li {
	width:180px;
	height:auto;
	float:left;
	list-style: none;
}

#menu_der li a, .active_der {
	width:auto;
	max-width:160px;
	padding:5px 20px 5px 0px;
	border-bottom: 2px solid #E6E6E6;
	height:auto;
	float:left;
	list-style: none;
	font: 12px 'MyriadProRegular';
	color:#333333;
	background: url(../images/basics/arrow2.jpg) no-repeat bottom right;
}


#footer {
	position: absolute;
	bottom:0px;
	left:0px;
	height:71px;
	margin-top:15px;
	background: url(../images/basics/bg4.jpg) repeat;
}

#footer2 {
	position: absolute;
	bottom:0px;
	left:0px;
	height:71px;
	margin-top:15px;
	background: url(../images/basics/footer2.png) repeat #000;
}

#footer #footer_int, #footer2 #footer_int  {
	position:relative;
	margin:auto;
	width:1150px;
	height:71px;
}

#footer #footer_int #izq, #footer2 #footer_int #izq {
	float:left;
	width:326px;
	padding: 6px 178px 4px 60px;
	margin-top:7px;
	border-right: 1px solid #fff;
	font: 10px 'MyriadProRegular';
	color: #fff;
	text-align: justify;
}

#footer #footer_int #izq span, #footer2 #footer_int #izq span {
	float:right;
}

#footer #footer_int #der, #footer2 #footer_int #der {
	float:left;
	width:340px;
	padding: 6px 0px 0px 90px;
	margin-top:7px;
	font: 9px 'MyriadProRegular';
	color: #fff;
	text-align: justify;
	text-align:center;
}

#footer #footer_int #der span, #footer2 #footer_int #der span{
	font: 8px 'MyriadProRegular';
}

#iridian {
	position:absolute;
	top:31px;
	right:10px;
	width:84px;
	height:34px;
	background: url(../images/logos/iridian.png) no-repeat;
}

.mini_footer {
	width:100%;
	height:21px;
	float:left;
	margin:0 0 1px 0;
	padding: 0px;
}

.mini_footer li {
	float:left;
	list-style: none;
	width:auto;
	height:21px;
	margin: 0 0px 0 150px;
}

.mini_footer li:first-child {
	margin-left:80px;
}

.mini_footer li a {
	float:left;
	width:auto;
	height:12px;
	margin: 6px 0 0 0;
	color: #fff;
	font: 9px 'MyriadProRegular';
	padding: 0px 0 0 10px;
	background: url(../images/basics/arrow4.png) no-repeat 0px 1px;
}


.desc_video_maes {
	float:left;
	width:90%;
	height:auto;
	padding:2% 5%;
	background:#ccc;
	margin:10px 0 20px 0;
}

.desc_video_maes p {
	float:left;
	width:100%;
	height:auto;
	margin:0px;	
	font: 12px 'MyriadProRegular';
	color:#444;
	text-align: center;
}

.cont_rot_gen {
	float:left;
	width:622px;
	height:auto;
	position:relative
}

.left_generico {
	position:absolute;
	left: -10px;
	top:135px;
	width:19px;
	height:40px;
	background: url(../images/basics/left1.png);
	cursor: pointer;
}

.right_generico {
	position:absolute;
	right: -10px;
	top:135px;
	width:19px;
	height:40px;
	background: url(../images/basics/right1.png);
	cursor: pointer;
}



